@use "../../styles/variables/sass.scss" as *;

.block {

  &[open] > .summary {
    border-bottom: $size-thin solid var(--colour0-tertiary);
  }
}

.summary {
  cursor: pointer;
  border-bottom: $size-thin solid transparent;

  transition-property: border-color;
  transition-duration: var(--duration-global);

  > * {
    display: inline;
  }
}
