@use "../../../styles/variables/sass.scss" as *;

.block {
}

.undecided {
  color: var(--submit-colour1-primary);
}

.approved {
  color: var(--positive-colour1-primary);
}

.rejected {
  color: var(--negative-colour1-primary);
}
