@use "../../styles/variables/sass.scss" as *;

.block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: $size-normal;
  padding: $size-small;

  & > * {
    flex-basis: var(--local-button-width, 6em);
  }
}

.spread {
  justify-content: space-between;
}
