@use "../../../styles/variables/sass.scss" as *;

.block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: $size-normal;
}

.input {
  flex: 0 0 $min-button-size;
  cursor: pointer;

  &:checked + .label {
    background-color: var(--colour1-primary);
  }

  &:disabled {
    cursor: not-allowed;

    & + .label {
      cursor: not-allowed;
    }
  }
}

.label {
  flex: 1 1 auto;
  padding: $size-normal;

  transition-duration: var(--duration-global);
  transition-property: background-color;
}
