@use "../../styles/variables/sass.scss" as *;

.block {
  text-align: center;
  width: 100%;
  color: var(--colour0-tertiary);

  transition-duration: var(--duration-global);
  transition-property: color;

  &:focus,
  &:hover {
    color: var(--colour0-primary);
  }
}
