@use "../../../styles/variables/sass.scss" as *;

.block {
  display: grid;
  gap: $size-normal;
  padding: $size-normal 0;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  gap: $size-normal;
}

.descending {
  flex-flow: row-reverse wrap-reverse;
}
