@use "../../../styles/variables/sass.scss" as *;

.block {
  --local-separator: ",";

  justify-content: flex-start;
  gap: $size-small;
  list-style: none;
  border-radius: $radius-small;
}

.vertical {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 0;
  width: 100%;

  & > * {
    min-height: 40px;
    background-color: var(--colour1-primary);
    padding: $size-small;
  }

  &_descending {
    flex-direction: column-reverse;
  }
}

.horizontal {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: var(--colour1-primary);
  padding: $size-small;

  &_descending {
    flex-flow: row-reverse wrap-reverse;
  }
}

.alternating {
  & > * {
    &:nth-child(odd) {
      background-color: var(--colour1-primary);
    }

    &:nth-child(even) {
      background-color: var(--colour1-primary-transparent);
    }
  }
}
