@use "../../../styles/variables/sass.scss" as *;

.block {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--colour1-secondary);
  border-radius: $radius-small;
  border: $size-little solid var(--colour1-tertiary);
}

.list {
}

.pagination {
  justify-content: center;
}

.filler {
  &::after {
    content: none;
  }
}
