@use "variables/sass" as vars;

@mixin form-input($border-radius: vars.$radius-small) {
  box-sizing: border-box;
  min-height: 44px;
  min-width: 44px;
  width: 100%;
  color: var(--colour0-secondary);
  caret-color: inherit;
  background-color: var(--colour1-secondary);
  font-family: inherit;
  font-size: 100%;
  border-radius: $border-radius;
  border: vars.$size-thin solid transparent;
  padding: vars.$size-small;
  margin: 0;

  transition-duration: var(--duration-global);
  transition-property: color, background-color, border-color, box-shadow;

  &:hover {
    color: var(--colour0-primary);
  }

  &:focus {
    color: var(--colour0-primary);
    background-color: var(--colour1-primary);
    border-color: var(--submit-colour1-secondary);
    outline: none;
  }

  &:read-only {
    color: var(--colour0-primary);
    background-color: var(--colour1-secondary);
  }
}

@mixin button() {
  --local-colour1-primary: var(--colour0-primary);
  --local-colour1-secondary: var(--colour0-secondary);
  --local-colour1-tertiary: var(--colour0-tertiary);
  --local-colour2-primary: var(--colour1-primary);
  --local-colour2-secondary: var(--colour1-secondary);
  --local-colour2-tertiary: var(--colour1-tertiary);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: vars.$size-small;
  background-color: var(--colour1-secondary);
  box-sizing: border-box;
  min-height: vars.$min-button-size;
  min-width: vars.$min-button-size;
  width: auto;
  font-family: inherit;
  font-size: 100%;
  color: var(--local-colour1-primary);
  background-color: var(--local-colour2-secondary);
  border-radius: vars.$radius-small;
  border: vars.$size-nano solid var(--local-colour1-tertiary);
  box-shadow:
    inset 2px 2px 3px hsla(0, 0%, 90%, 20%),
    inset -2px -2px 3px hsla(0, 0%, 0%, 50%);
  padding: vars.$size-small;
  margin: 0;
  cursor: pointer;

  transition-duration: var(--duration-global);
  transition-property: opacity, box-shadow, background-color, border-color;

  &:focus,
  &:hover {
    background-color: var(--local-colour2-primary);
  }

  &:active {
    box-shadow:
      inset 2px 2px 3px hsla(0, 0%, 0%, 50%),
      inset -2px -2px 3px hsla(0, 0%, 90%, 20%);
  }

  &:disabled {
    opacity: 0.5;
    background-color: var(--local-colour2-secondary);
    box-shadow:
      inset 2px 2px 3px hsla(0, 0%, 90%, 20%),
      inset -2px -2px 3px hsla(0, 0%, 0%, 50%);
    cursor: not-allowed;
  }
}
