@use "../../styles/variables/sass.scss" as *;

.block {
  // ensure the header will never overflow its parent
  overflow-wrap: anywhere;
  max-width: $width-tablet;
  width: 100%;
  background-color: var(--colour1-primary);
  border-radius: $radius-normal;
  margin: 0 auto;
}

.h1 {
  max-width: 100%;
  font-size: 2.2rem;
  text-align: center;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.8rem;
}

.h4 {
  font-size: 1.6rem;
}

.h5 {
  font-size: 1.4rem;
}

.h6 {
  font-size: 1.2rem;
}
