@use "../../styles/variables/sass.scss" as *;

.block {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: $size-normal;
  color: var(--colour0-primary);
  background-color: var(--colour1-secondary);
  padding: $size-small $size-normal;

  @media (min-width: $width-tablet) {
    padding: $size-small $size-big;
  }

  transition-duration: var(--duration-global);
  transition-property: color, background-color;
}

.nav {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: $size-normal;
}

.navList {
  width: auto;
  flex-flow: row nowrap;
  padding: 0;
}

.account {
  position: relative;
}

.button {
  width: 100%;
}

.list {
  position: absolute;
  top: 100%;
  right: calc(0% - $size-small);
  width: auto;
  visibility: hidden;
  opacity: 0;
  background-color: var(--colour1-primary);
  border-radius: $radius-small;
  padding: $size-normal;
  box-shadow: 0 0 1px 1px var(--colour0-tertiary-transparent);
  transition-duration: var(--duration-global);
  transition-property: visibility, opacity;
}

.loading {
  cursor: progress;
  pointer-events: none;
}

.open {
  visibility: visible;
  opacity: 1;
}

.item {
  min-width: 6em;
}

.link {
  width: 100%;
}
