// screen widths
$width-feature: 240px;
$width-mobile: 360px;
$width-phone: 480px;
$width-tablet: 768px;
$width-laptop: 1280px;
$width-desktop: 1920px;

/*
  Sizes for borders/padding/margins/gaps
*/
// just when only 1px is needed
$size-pixel: 1px;
$size-nano: 0.0625em;
$size-thin: 0.125em;
$size-little: 0.25em;
$size-small: 0.5em;
$size-normal: 1em;
$size-big: 2em;
$size-large: 3em;

// border radii
$radius-small: 5px;
$radius-normal: 10px;
$radius-big: 15px;
$radius-round: 50%;

$min-button-size: 44px;
$min-button-width: $min-button-size;
$min-button-height: $min-button-size;
