@use "../../styles/variables/sass.scss" as *;

.block {
}

.pending {
  color: var(--colour0-secondary);
}

.in-progress {
  color: var(--submit-colour1-primary);
}

.consumed {
  color: var(--positive-colour1-primary);
}
