@use "../../styles/variables/sass.scss" as *;

.block {
  color: var(--colour0-secondary);

  &:hover,
  &:focus-within {
    color: var(--colour0-primary);
  }

  transition-duration: var(--duration-global);
  transition-property: color, background-color, border-color, box-shadow;
}
