@use "../../styles/variables/sass.scss" as *;

.block {
  display: grid;
}

// https://css-tricks.com/html5-progress-element/
.progress {
  appearance: none;
  border: none;
  height: 1.5em;
  background-color: var(--colour1-primary);
  border-radius: 3px;
  border: $size-thin solid var(--colour0-secondary-transparent);
  box-shadow: 0 2px 3px var(--colour0-tertiary-transparent) inset;

  &[value]::-moz-progress-bar {
    background-color: var(--submit-colour1-tertiary);
  }
}
