@use "../../styles/variables/sass.scss" as *;

.block {
}

.names {
  background-color: transparent;
}

.nameList {
  align-items: stretch;
}

.item {
  background-color: var(--colour1-primary);
  padding: $size-small;
}

.artist {
  flex-basis: 6em;
}
