@use "../../../styles/variables/sass.scss" as *;

.block {
  gap: $size-normal;
}

.section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: $size-normal;
}

.subsection {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: $size-small;
}

.timezone {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: $size-normal;
}
