@use "./variables/sass" as *;

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  // Use a consistent sensible line-height in all browsers.
  line-height: 1.5;
  font-size: 100%;
  // Prevent adjustments of font size after orientation changes in iOS.
  -webkit-text-size-adjust: 100%;
  // Use a more readable tab size.
  -moz-tab-size: 4;
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;

  @media (min-width: $width-laptop) {
    font-size: 110%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  // Inherit line-height from `html` so users can set them as a class directly on the `html` element.
  line-height: inherit;
  padding: 0;
  margin: 0;
}

*[id="__next"] {
  position: relative;
  display: grid;
  grid-template:
    "header" auto
    "main" 1fr
    "footer" auto
    / 100%;
  justify-items: stretch;
  min-height: 100%;
  width: 100%;
}

// Remove the default font size and weight for headings.
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

hr {
  // Add the correct height in Firefox.
  height: 0;
  // Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  color: inherit;
  // Ensure horizontal rules are visible by default.
  border-top-width: 1px;
}

// Add the correct text decoration in Chrome, Edge, and Safari.
abbr:where([title]) {
  text-decoration: underline dotted;
}

// Reset links to optimize for opt-in styling instead of opt-out.
a {
  color: inherit;
  text-decoration: inherit;
}

// Add the correct font weight in Edge and Safari.
b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  // Use the `mono` font family by default.
  font-family: "fontFamily.mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  // Correct the odd `em` font sizing in all browsers.
  font-size: 1em;
}

// Add the correct font size in all browsers.
small {
  font-size: 80%;
}

// Prevent `sub` and `sup` elements from affecting the line height in all browsers.
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  // Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  text-indent: 0;
  // Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  border-color: inherit;
  // Remove gaps between table borders by default.
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  // Change the font styles in all browsers.
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  // Remove the margin in Firefox and Safari.
  margin: 0;
  // Remove default padding in all browsers.
  padding: 0;
}

button,
select {
  // Remove the inheritance of text transform in Edge and Firefox.
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  // Correct the inability to style clickable types in iOS and Safari.
  -webkit-appearance: button;
  // Remove default button styles.
  background-color: transparent;
  background-image: none;
}

// Use the modern Firefox focus style for all focusable elements.
*:-moz-focusring {
  outline: auto;
}

// Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*:-moz-ui-invalid {
  box-shadow: none;
}

// Add the correct vertical alignment in Chrome and Firefox.
progress {
  vertical-align: baseline;
}

// Correct the cursor style of increment and decrement buttons in Safari.
*::-webkit-inner-spin-button,
*::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  // Correct the odd appearance in Chrome and Safari.
  -webkit-appearance: textfield;
  // Correct the outline style in Safari.
  outline-offset: -2px;
}

// Remove the inner padding in Chrome and Safari on macOS.
*::-webkit-search-decoration {
  -webkit-appearance: none;
}

*::-webkit-file-upload-button {
  // Correct the inability to style clickable types in iOS and Safari.
  -webkit-appearance: button;
  // Change font properties to `inherit` in Safari.
  font: inherit;
}

// Add the correct display in Chrome and Safari.
summary {
  display: list-item;
}

// Removes the default spacing and border for appropriate elements.
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Prevent resizing textareas horizontally by default.
textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  // Reset the default placeholder opacity in Firefox.
  opacity: 1;
  // Set the default placeholder color.
  color: var(--colour0-secondary);
}

// Set the default cursor for buttons.
button,
[role="button"] {
  cursor: pointer;
}

// Make sure disabled buttons don't get the pointer cursor.
*:disabled {
  cursor: default;
}

// Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
img,
video {
  max-width: 100%;
  height: auto;
}
