@use "../../styles/variables/sass.scss" as *;

.block {
  justify-content: center;
  min-height: $min-button-size;
  background-color: var(--local-colour2-tertiary);
  border: $size-nano solid var(--local-colour1-tertiary);
  border-radius: $radius-small;
  padding: 0 $size-normal;

  &:link {
    color: var(--local-colour1-secondary);
  }

  &:visited {
    color: var(--local-colour1-secondary);
  }

  &:focus {
    color: var(--local-colour1-primary);
    background-color: var(--local-colour2-primary);
    border-color: var(--local-colour1-primary);

    & .content {
      border-color: var(--local-colour1-primary);
    }
  }

  &:hover {
    color: var(--local-colour1-primary);
    background-color: var(--local-colour2-secondary);
    border-color: var(--local-colour1-primary);

    & .content {
      border-color: var(--local-colour1-primary);
    }
  }

  &:active {
    color: var(--local-colour2-primary);
    background-color: var(--local-colour1-primary);
    border-color: var(--local-colour2-primary);

    & .content {
      border-color: var(--local-colour2-primary);
    }
  }
}

.content {
  border-bottom: $size-nano solid transparent;

  transition-property: color, border-color;
  transition-duration: var(--duration-global);
}
