@use "../../styles/variables/sass.scss" as *;

.block {
  --local-colour1-primary: var(--anchour-colour1-primary);
  --local-colour1-secondary: var(--anchour-colour1-secondary);
  --local-colour1-tertiary: var(--anchour-colour1-tertiary);
  --local-colour2-primary: var(--anchour-colour2-primary);
  --local-colour2-secondary: var(--anchour-colour2-secondary);
  --local-colour2-tertiary: var(--anchour-colour2-tertiary);

  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  outline: none;
  text-decoration: none;
  border-bottom: $size-nano solid transparent;
  // small padding so the letters won't spill out horizontally
  padding: 0 2px;
  transition-property: color, border-color, background-color;
  transition-duration: var(--duration-global);

  &:link {
    color: var(--local-colour1-primary);
  }

  &:visited {
    color: var(--local-colour1-secondary);
  }

  &:focus {
    background-color: var(--local-colour2-primary);
    border-bottom-color: var(--local-colour1-primary);
  }

  &:hover {
    background-color: var(--local-colour2-secondary);
    border-bottom-color: var(--local-colour1-primary);
  }

  &:active {
    color: var(--local-colour2-primary);
    background-color: var(--local-colour1-primary);
    border-bottom-color: var(--local-colour2-primary);
  }
}
