*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 100%;
  /* Use a more readable tab size.*/
  -moz-tab-size: 4;
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
}

/* Remove the default font size and weight for headings. */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

hr {
  /* Add the correct height in Firefox. */
  height: 0;
  /* Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)*/
  color: inherit;
  /* Ensure horizontal rules are visible by default.*/
  border-top-width: 1px;
}

/* Reset links to optimize for opt-in styling instead of opt-out. */
a {
  color: inherit;
  text-decoration: inherit;
}

code,
kbd,
samp,
pre {
  /* Use the `mono` font family by default. */
  font-family: "fontFamily.mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  /* Correct the odd `em` font sizing in all browsers. */
  font-size: 1em;
}

/* Add the correct font size in all browsers. */
small {
  font-size: 80%;
}

/* Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  /* Remove gaps between table borders by default. */
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  /* Change the font styles in all browsers. */
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  /* Remove the margin in Firefox and Safari. */
  margin: 0;
  /* Remove default padding in all browsers. */
  padding: 0;
}

button,
select {
  /* Remove the inheritance of text transform in Edge and Firefox. */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /* Remove default button styles. */
  background-color: transparent;
  background-image: none;
}

/* Use the modern Firefox focus style for all focusable elements. */
*:-moz-focusring {
  outline: auto;
}

/* Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737) */
*:-moz-ui-invalid {
  box-shadow: none;
}

/* Add the correct vertical alignment in Chrome and Firefox. */
progress {
  vertical-align: baseline;
}

/* Removes the default spacing and border for appropriate elements. */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Prevent resizing textareas horizontally by default. */
textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  /* Reset the default placeholder opacity in Firefox. */
  opacity: 1;
  /* Set the default placeholder color. */
  color: var(--colour0-secondary);
}

/* Set the default cursor for buttons. */
button,
[role="button"] {
  cursor: pointer;
}

/* Make sure disabled buttons don't get the pointer cursor. */
*:disabled {
  cursor: default;
}

/* Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14) */
img,
video {
  max-width: 100%;
  height: auto;
}

dt {
  font-weight: bold;
}
