body {
  position: relative;
  display: grid;
  grid-template:
    "header" auto
    "main" 1fr
    "footer" auto
    / 100%;
  justify-items: stretch;
  min-height: 100%;
  width: var(--width-mobile);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* ensure the header will never overflow its parent */
  overflow-wrap: anywhere;
  max-width: var(--width-tablet);
  width: 100%;
  background-color: var(--colour1-primary);
  border-radius: var(--radius-normal);
  margin: 0 auto;
}

h1 {
  max-width: 100%;
  font-size: 2.2rem;
  text-align: center;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

.main,
.footer {
  color: var(--colour0-primary);

  transition-duration: var(--duration-global);
  transition-property: color, background-color;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 100%;
  align-content: baseline;
  gap: var(--size-normal);
  background-color: var(--colour1-tertiary);
  padding-bottom: var(--size-normal);
}

.main > * {
  padding: 0 var(--size-small);

  /* @media (min-width: $width-phone) {
      padding: 0 $size-normal;
    } */

  /* @media (min-width: $width-tablet) {
      padding: 0 $size-big;
    } */
}

.footer {
  grid-area: footer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-normal);
  background-color: var(--colour1-secondary);
  padding: var(--size-small) var(--size-normal);

  /* @media (min-width: $width-tablet) {
    padding: $size-small $size-big;
  } */
}

article {
  background-color: var(--colour1-primary);
}
