@use "../styles/variables/sass.scss" as *;

.main {
  color: var(--colour0-primary);

  transition-duration: var(--duration-global);
  transition-property: color, background-color;

  grid-area: main;
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  gap: $size-normal;
  background-color: var(--colour1-tertiary);
  padding-bottom: $size-normal;

  & > * {
    padding: $size-small;

    @media (min-width: $width-phone) {
      padding: $size-normal;
    }

    @media (min-width: $width-tablet) {
      padding: $size-big;
    }
  }
}

.lang {
  font-weight: bold;
  text-transform: uppercase;
}
