@use "../../styles/variables/sass.scss" as *;

.block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.back {
  flex: 0 0 4em;
}

.segments {
  flex: 1 1 auto;
  padding: $size-small;
}

.segment {
  gap: $size-small;
}

.copy {
  flex: 0 0 6em;
}
