@use "../../styles/variables/sass.scss" as *;

.block {
  flex-flow: row nowrap;
  justify-content: space-between;

  &:focus-within,
  &:hover {
    & .copy {
      visibility: visible;
      opacity: 1;
    }
  }
}

.copy {
  flex: 0 0 6em;
  visibility: hidden;
  opacity: 0;

  transition-property: visibility, opacity, box-shadow;
}
