@use "../../styles/variables/sass.scss" as *;

.block {
  justify-self: stretch;
  grid:
    "key" auto
    "value" auto
    / 100%;
  background-color: var(--colour1-primary);
  padding: $size-normal;
}

.content {
  background-color: var(--colour1-secondary);
}
