@use "@repo/ui/styles/variables/sass" as *;

.portable {
  color: var(--positive-colour1-primary);
}

.network_portable {
  color: var(--warning-colour1-primary);
}
.device_portable {
  color: var(--warning-colour1-primary);
}
.not_portable {
  color: var(--negative-colour1-primary);
}
