@use "@repo/ui/styles/variables/sass" as *;

.main,
.footer {
  color: var(--colour0-primary);

  transition-duration: var(--duration-global);
  transition-property: color, background-color;
}

.header {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: $size-normal;
  color: var(--colour0-primary);
  background-color: var(--colour1-secondary);
  padding: $size-small $size-normal;

  @media (min-width: $width-tablet) {
    padding: $size-small $size-big;
  }

  transition-duration: var(--duration-global);
  transition-property: color, background-color;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 100%;
  align-content: baseline;
  gap: $size-normal;
  background-color: var(--colour1-tertiary);
  padding-bottom: $size-normal;

  & > * {
    padding: 0 $size-small;

    @media (min-width: $width-phone) {
      padding: 0 $size-normal;
    }

    @media (min-width: $width-tablet) {
      padding: 0 $size-big;
    }
  }
}

.footer {
  grid-area: footer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: $size-normal;
  background-color: var(--colour1-secondary);
  padding: $size-small $size-normal;

  @media (min-width: $width-tablet) {
    padding: $size-small $size-big;
  }
}
