@use "../../styles/variables/sass.scss" as *;

.block {
  display: grid;
  gap: $size-small;
  max-width: $width-phone;
  width: 100%;
  background-color: var(--colour1-primary);
  border-radius: $radius-normal;
  border: $size-thin solid var(--colour0-tertiary);
  padding: $size-normal;
  margin: 0 auto;

  @media (min-width: $width-laptop) {
    max-width: calc(#{$width-phone} * 1.1);
  }
}

.nested {
  padding: $size-normal 0;
  border-width: $size-thin 0;
}

.form {
  display: none;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: $size-normal
}
