@use "../../styles/variables/sass.scss" as *;

.block {
}

.pending {
  color: var(--colour0-secondary);
}

.progress {
  color: var(--submit-colour1-primary);
}

.finished {
  color: var(--positive-colour1-primary);
}

.failed {
  color: var(--negative-colour1-primary);
}
