@use "../../styles/variables/sass.scss" as *;

.block {
  display: grid;
  justify-content: center;
  align-content: center;
  height: var(--local-image-height, 20em);
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
