@use "../../styles/variables/sass.scss" as *;

.block {
  background-color: transparent;
  justify-content: center;
}

.current {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: $min-button-size;
  min-width: $min-button-size;
}
