@use "../../styles/variables/sass.scss" as *;

.block {
  justify-self: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap: $size-normal;
}

.page {
  flex: 0 0 $min-button-size;
  min-height: $min-button-size;
  border-radius: $radius-small;
}

.link {
  width: 100%;
  height: 100%;
}

.empty,
.current {
  justify-content: center;
  align-items: center;
}
