@use "../../styles/variables/sass.scss" as *;

.block {
  display: flex;
  flex-flow: column nowrap;
  gap: $size-normal;
  width: 100%;
  word-break: break-word;
  background-color: var(--colour1-secondary);
  padding: $size-normal 0;
}

.item {
  padding: 0 $size-small;
  background-color: var(--colour1-primary);
}
