@use "../../styles/variables/sass.scss" as *;

.block {
  padding: $size-small;
}

.list {
  display: grid;
  grid:
    "item" auto
    / auto;
  justify-content: stretch;
  background-color: transparent;
}

.item {
  grid-area: item;
  justify-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;

  transition-duration: var(--duration-global);
  transition-property: visibility, opacity;
}

.current {
  visibility: visible;
  opacity: 1;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $width-mobile;
  margin: 0 auto;
}

.button {
  width: 6em;
}
