@use "../../styles/variables/sass.scss" as *;

.block {
  display: grid;
  justify-content: center;
  align-content: center;
  height: var(--local-image-height, 20em);
  background-color: var(--colour1-secondary-transparent);
  padding: $size-thin;

  &:hover {
    background-color: var(--colour1-secondary-transparent);
  }

  &:focus {
    background-color: var(--colour1-secondary-transparent);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.link {
  --local-colour1-primary: transparent;
  --local-colour1-secondary: transparent;
  --local-colour2-primary: transparent;
  --local-colour2-secondary: transparent;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    --local-colour1-primary: transparent;
    --local-colour1-secondary: transparent;
    --local-colour2-primary: transparent;
    --local-colour2-secondary: transparent;
  }
}
