@use "../../styles/variables/sass.scss" as *;
@use "../../styles/mixins.scss" as mixins;

.block {
  @include mixins.button();

  &_clicking {
    cursor: progress;
  }
}

.submit {
  --local-colour1-primary: var(--submit-colour1-primary);
  --local-colour1-secondary: var(--submit-colour1-secondary);
  --local-colour1-tertiary: var(--submit-colour1-tertiary);
  --local-colour2-primary: var(--submit-colour2-primary);
  --local-colour2-secondary: var(--submit-colour2-secondary);
  --local-colour2-tertiary: var(--submit-colour2-secondary);
}

.negative {
  --local-colour1-primary: var(--negative-colour1-primary);
  --local-colour1-secondary: var(--negative-colour1-secondary);
  --local-colour1-tertiary: var(--negative-colour1-tertiary);
  --local-colour2-primary: var(--negative-colour2-primary);
  --local-colour2-secondary: var(--negative-colour2-secondary);
  --local-colour2-tertiary: var(--negative-colour2-secondary);
}

.positive {
  --local-colour1-primary: var(--positive-colour1-primary);
  --local-colour1-secondary: var(--positive-colour1-secondary);
  --local-colour1-tertiary: var(--positive-colour1-tertiary);
  --local-colour2-primary: var(--positive-colour2-primary);
  --local-colour2-secondary: var(--positive-colour2-secondary);
  --local-colour2-tertiary: var(--positive-colour2-secondary);
}
