@use "../../styles/variables/sass.scss" as *;

.block {
  color: var(--colour0-secondary);

  transition-duration: var(--duration-global);
  transition-property: color;

  &:focus,
  &:hover {
    color: var(--colour0-primary);
  }
}
