@use "../../../styles/variables/sass.scss" as *;
@use "../../../styles/mixins.scss" as mixin;

.block {
  @include mixin.form-input();
  cursor: pointer;

  &:focus {
    background-color: var(--colour1-primary);
  }
}

.option {
  background-color: var(--colour1-primary);
  cursor: pointer;
}
