@use "../../../styles/variables/sass.scss" as *;
@use "../../../styles/mixins.scss" as mixin;

.block {
  display: flex;
  background-color: var(--colour1-secondary);
}

.lines {
  display: grid;
  align-content: flex-start;
  text-align: right;
  border-top: $size-thin solid var(--colour1-primary);
}

.line {
  counter-increment: linenumber;
  padding: 0 $size-little;

  &::before {
    content: counter(linenumber);
    color: var(--colour0-tertiary);
  }

  &:first-child {
    padding-top: $size-small;
  }

  &:nth-child(odd) {
    background-color: var(--colour1-primary);
  }
}

.area {
  @include mixin.form-input();
  resize: vertical;
}
